.inputBar {
  // width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 246, 247, 1);
  box-sizing: border-box;
  & > div {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    & img:first-of-type {
      width: 0.7333vw;
      height: 0.7333vw;
      margin-right: 0.2667vw;
    }
    & img:last-of-type {
      width: 0.7333vw;
      height: 0.7333vw;
    }
  }
  input {
    width: 70%;
    outline: none;
    border: none;
    background-color: rgba(245, 246, 247, 1);
  }
}
